[submodule "plugins/popup-el"]
	path = plugins/popup-el
	url = git@github.com:auto-complete/popup-el.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "plugins/pig-mode"]
	path = plugins/pig-mode
	url = git@github.com:motus/pig-mode.git
[submodule "plugins/go-mode.el"]
	path = plugins/go-mode.el
	url = git@github.com:dominikh/go-mode.el.git
[submodule "plugins/php-mode"]
	path = plugins/php-mode
	url = git@github.com:ejmr/php-mode.git
